#work
	width: 1137px

.popup-list[style*="inline-block"]
	display: inline-flex !important
	flex-wrap: wrap
	max-width: 800px

	.popup-item
		width: 33.33%
		text-align: center
		margin-bottom: 25px

	.name
		margin: 20px 0 0
		color: #000

.forms__error, .forms__message
	padding: 45px !important
	font-size: 17px

.forms__error
	color: var(--main-color)

.popup-form
	display: none
	margin: 0 !important
	padding: 50px 37px 75px !important
	width: 765px
	background: var(--thrid-color) !important

	&::-webkit-scrollbar
		width: 10px

		&-track
			background: var(--second-color)

		&-thumb
			background: var(--main-color)

	&__title
		font-size: 30px
		margin-bottom: 20px

		+ .popup-form__form
			margin: 60px 0 0

	&__text
		color: rgba(255,255,255, .3)
		margin: 0 auto 50px

	&__submit
		flex: none
	
	.forms

		&__input

			&:focus

				~ .forms

					&__error

						&-message
							color: rgba(#000, .5)

.checkbox
	position: relative

	&__input
		position: absolute 0 * * 0
		opacity: 0
		pointer-events: none

		&:checked

			~ label

				&:after
					opacity: 1

	&__label
		cursor: pointer
		display: flex
		align-items: center
		position: relative
		user-select: none
		font-size: 14px

		&:before, &:after
			content: ""
			display: inline-block

		&:before
			flex: none
			background: #fff
			border: 1px solid #e8e8e8
			margin: 0 15px 0 0
			border-radius: 7px
			size: 32px

		&:after
			border: 2px solid var(--mainColor)
			border-top: none
			border-left: none
			size: 9px 12px
			transform: rotateZ(45deg)
			position: absolute 7px * * 12px
			transition: opacity .1s ease
			opacity: 0

textarea.default-input__input
	padding-top: 13px

.popup-form__inputs
	display: flex
	flex-wrap: wrap
	margin: 0 0 -55px -54px

	&--3

		.default-input
			margin: 0 0 55px 54px

			&:not(.default-input--submit)
				width: calc((100% - 54px * 3) / 3)

			&--submit
				width: calc((133.33% - 54px * 2) / 2)

	&--2

		.default-input
			margin: 0 0 55px 54px

			&:not(.default-input--submit)
				width: calc((100% - 54px * 2) / 2)

			&--submit
				width: calc(100% - 54px)


	&--column, &--1
		flex-direction: column
		margin: 0 !important

		.default-input
			width: 100%
			margin: 0

			&:not(:first-child)
				margin: 25px 0 0

.form-req
	font-size: 13px
	line-height: calc(21 / 13)
	max-width: 450px

.default-input
	display: flex
	flex-direction: column-reverse
	font-size: 14px
	position: relative

	&__input
		border: 1px solid var(--border-color)
		height: 50px
		transition: border-color .3s ease
		width: 100%
		background-color: #fff
		border-radius: 5px !important
		padding: 10px 20px

		&--error:not(:valid), &.error:not(:valid), &.forms__input_error:not(:valid)
			border-color: red

			~ .forms__error-message
				opacity: 1

			&:focus

			~ .forms__error-message
				opacity: 0


		&::-webkit-input-placeholder
			transition: opacity .3s ease
			color: rgba(#000, .5)

		&:-moz-placeholder
			transition: opacity .3s ease
			color: rgba(#000, .5)

		&::-moz-placeholder
			transition: opacity .3s ease
			color: rgba(#000, .5)

		&:-ms-input-placeholder
			transition: opacity .3s ease
			color: rgba(#000, .5)

		&:not(:focus)

			&::-webkit-input-placeholder
				color: #C8C8C8

			&:-moz-placeholder
				color: #C8C8C8

			&::-moz-placeholder
				color: #C8C8C8

			&:-ms-input-placeholder
				color: #C8C8C8

			&.js__have-content:valid
				// background-image: url("../img/ico-true.svg")

			&.js__have-content:invalid
				// background-image: url("../img/ico-close-red.svg")

		&:focus
			border-color: var(--main-color)
			// background-color: transparent

			&::-webkit-input-placeholder
				opacity: 0 !important

			&:-moz-placeholder
				opacity: 0 !important

			&::-moz-placeholder
				opacity: 0 !important

			&:-ms-input-placeholder
				opacity: 0 !important

		&--select
			padding-right: 30px
			background: url("../img/ico-select-arrow.svg") right 18px center no-repeat, #fff

			&.selectize-control
				padding: 0

			.selectize

				&-input
					height: 100%
					background-color: inherit !important
					padding: 0 30px 0 25px
					box-shadow: none  !important
					border-radius: 0
					border-color: transparent
					display: flex !important
					align-items: center

					&.input-active
						background-color: #fff !important
						border-color: #eaeaed

					input
						display: none !important

					.item
						font-size: 16px

				&-dropdown
					height: auto

					&-content

						.option
							cursor: pointer

							&.active
								background: var(--secondColor)

		&:required ~ label

			&:not([class*="--file"])

				&:after
					content: "*"
					display: inline-block
					margin-left: 5px
					color: var(--main-color)

		&--textarea
			max-width: 100%
			height: 129px
			resize: none

		&--file
			opacity: 0
			position: absolute 0 * * 0
			pointer-events: none

			~ .default-input__input
				padding-right: 60px

			~ .forms__error-message
				bottom: 35px

	&__label
		position: absolute -5px * * 10px
		background: #fff
		padding: 0 9px
		text-transform: uppercase
		color: rgba(0,0,0, .5)
		font-size: 10px
		line-height: 1

		&--file
			cursor: pointer
			content: ""
			position: absolute * 5px 5px *
			size: 40px
			background: url("../img/ico-add-file.svg") center no-repeat, var(--main-color)
			border-radius: 5px
			transition: background-color .3s ease

			&:hover
				background-color: lighten(#CC2128, .1)

.forms
	
	&__error

		&-message
			position: absolute
			transition: opacity .3s ease
			user-select: none
			font-size: 12px
			color: var(--main-color)
			position: absolute * 0 calc(100% + 7px) *

			opacity: 0
			pointer-events: none

			&:after
				content: ""
				// background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAIBAMAAADU/bjBAAAAGFBMVEX////V1dXV1dXY2Nji4uL9/f3+/v7///88REMWAAAAA3RSTlMAipDLFSdbAAAAM0lEQVQI12NwKweBMgcGlXQQI0WBgQkkVObEwAAWAgowgITAAiAhsABQyBUiwMAgLAAkAJ+wDc+KWF7qAAAAAElFTkSuQmCC)
				background: url("../img/ico-error.svg") no-repeat
				position: absolute
				top: calc(50% - 10px)
				right: 2px
				size: 22px 20px

.forms-recaptcha

	+ .choose-form__bot
		margin-top: 20px


@media screen and (max-width: 1000px)
	.popup-form
		padding: 20px !important

		&__title
			font-size: 24px

		&__text
			margin-bottom: 20px

		&__info
			margin: 25px 0 0

	.forms

		&__req, &__submit
			margin: 20px 0 0

	.popup-item
		width: 50% !important


@media screen and (max-width: 660px)
	.fancybox

		&-slide

			&--html
				padding: 0 !important

				&:before
					display: none !important

	.popup-item
		width: 100% !important

	.forms

		&__inputs
			display: block
			margin: 0

		&__input

			&-cont
				width: auto !important
				margin: 0 !important

				&:not(:first-child)
					margin: 32px 0 0 !important

				&--double

					.forms

						&__input

							&-cont
								margin-top: 0 !important
								width: 100% !important

								&:not(:first-child)
									margin: 15px 0 0 !important

	.popup-form
		padding: 20px 16px !important
		height: 100%

		&__text
			font-size: 14px

		&__inputs
			margin: 0
			flex-direction: column

			.default-input
				margin: 0
				width: 100% !important

				&:not(:first-of-type)
					margin: 30px 0 0

				&__label
					margin: 0

				&--submit
					display: block
					text-align: center

					.form-req
						margin: 20px 0 0

	.default-input

		&__label

			&--file
				flex-direction: column
				align-items: flex-start

				&:after
					margin: 10px 0 0 !important
					width: 100%