.buyers

	&__form
		margin: 43px 0 0

.bt
	background: #fff
	border-radius: 5px
	border: 1px solid var(--border-color)
	display: flex
	justify-content: space-between
	padding: 85px 75px 75px

	&__contacts
		flex: none
		width: 265px
		margin-right: 20px

	&__text
		flex: 1 1 auto
		max-width: 635px

.btc

	&__item

		&:not(:first-child)
			margin: 50px 0 0

		&-widget
			margin: 38px 0 0