.main-catalog-slider
	margin: 63px 0 0

	&__title
		margin: 0 0 45px

.catalog-slider
	position: relative
	transition: opacity .3s ease

	&__nav
		position: absolute 50% -70px *
		pointer-events: none
		display: flex
		justify-content: space-between
		transform: translateY(-50%)

		.swiper-button

			&-prev, &-next
				pointer-events: auto

	&__list
		overflow: hidden