.main-catalog

	&__title
		margin: 0 0 35px

	&__list

		&-more
			margin: 44px 0 0
			text-align: center

@media (max-width: 1000px)
	.main-catalog

		&__title
			margin: 0 0 20px

		&__list

			&-more
				margin: 20px 0