.tovar
	padding: 46px 0 42px
	display: flex

	&__cont
		background: #fff

	&__desc
		align-self: center

	&__slider
		border-radius: 5px
		border: 1px solid var(--border-color)
		padding: 20px 40px 16px
		width: 452px
		flex: none

.ts-slider
	position: relative
	padding: 0 25px

	&__arrows
		position: absolute calc(50% - 25px) 0 *
		pointer-events: none
		display: flex
		justify-content: space-between

		.swiper-button

			&-prev, &-next
				pointer-events: auto

	&__list
		overflow: hidden