.transporters

	&__form
		margin: 47px 0 0

@media (max-width: 660px)
	.transporters

		&__map
			height: 430px
			max-height: 80vh

			ymaps[class*="-map"]
				height: 430px !important
				max-height: 80vh !important

			img
				height: 100%
				object-fit: cover

		&__form
			margin: 0