footer.footer
	.wrapper
		.footer__wrap
			.footer__about
				.footer__about-contacts
					.f-contacts
						.f-contacts__title Есть вопросы? Звоните!
						address.f-contacts__phone
							a(href="tel: +7 (812) 648-50-00") +7 (812) 648-50-00
						time.f-contacts__time Ежедневно с 10:00 до 22:00
				.footer__about-copy
					.copy
						span.copy__text © 2000-2019, ООО «Семишагофф»
						a.copy__link(href="#") Политика конфиденциальности
			nav.footer__menu
				ul.f-menu
					li.f-menu__item.f-menu__item--submenu
						span.f-menu__title Партнерам
						ul.f-submenu
							each item in ["Поставщикам", "Арендатор", "Арендадатель", "Грузоперевозчикам", "Рекламодателям", ]
								li
									a.f-submenu__link(href="#")=item
					li.f-menu__item
						a.f-menu__title(href="#") Работа в компании
					li.f-menu__item.f-menu__item--submenu
						span.f-menu__title покупателям
						ul.f-submenu
							each item in ["Каталог", "Акции", "Магазины", "О нас", "Рецепты","Новости","Контакты", ]
								li
									a.f-submenu__link(href="#")=item
			.footer__links
				.footer__links-subscribe
					.subscribe-form
						.subscribe-form__title Узнай первым о наших акциях
						form(action="#")
							input.subscribe-form__input(type="email" placeholder="Ваш e-mail")
							input.default-btn(type="submit" value="Подписаться")
				.footer__links-bot
					.f-soc
						.f-soc__title Мы в соцсетях
						.soc
							each item in ["vk", "inst", "ok"]
								a.soc__link(href="#")
									img(src="img/ico-"+item+".svg")
					a.dev(href="#" target="_blank")
						img(src="img/developer.svg")
