<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Каталог - список
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug 
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							.title-block__title
								h1 Фрукты и овощи
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									a.bread-crumbs__link(href="#") Каталог
									span.bread-crumbs__this Фрукты и овощи
				.inner-content__content
					.cat2__cont
						.wrapper
							.cat2
								.cat2__filter
									include inc/filter.pug
								.cat2__list
									.cat2__list-sort
										.sort
											.sort__select
												label.sort__select-label Сортировать по:
												select.sort__select-select
													option популярности
													option популярности
													option популярности
													option популярности
											.sort__select
												label.sort__select-label Вывыодить по:
												select.sort__select-select
													option 12
													option 12
													option 12
													option 12
													option 12
											.sort__view
												.view
													a.view-plates(href="#")
													a.view-list.active(href="#")
											.sort__filter
												.filter-btn
									.cat2-list.cat2-list--list
										- for (let j = 0; j < 2; j++)
											each item, i in ['Вода мин. лечебно-столовая "Сарыагаш" газ.', 'Нектар  с мяк. "Сто Рецептов" тыквенный', 'Квас "Никола Традиционный" фильт. паст. ж/б ', ]
												.cat2-list__item
													.cat-list-item
														if (j != 1)
															if (i == 1)
																.cat-item__sale Супер цена
															else
																.cat-item__sale 25%
														a.cat-item__img(href="#")
															img(src="img/photos/mc-img-"+i+".jpg")
														.cat-item__desc
															.cat-item__desc-labels
																.cat-labels
																	.cat-labels__label.cat-labels__label--red Акция 10.06 / 10.07
																	if ( i == 1)
																		.cat-labels__label.cat-labels__label--yelow Не во всех магазинах
															a.cat-item__title(href="#")=item
															.cat-item__volume 300 мл
															.cat-item__buy
																.cat-buy
																	.cat-buy__price
																		.cat-buy__price-curprice
																			.price 22.
																				span 99 
																				i.rub ₽
																		if (j != 1)
																			.cat-buy__price-lastprice
																				.price 22.
																					span 99 
																					i.rub ₽
																	.cat-buy__btn
																		a.arrow-btn(href="#")
									.cat2__list-more
										a.more-btn(href="#") Показать ещё
									.cat2__list-seo
										.seo-text
											p ГК «Семишагофф» арендует и покупает помещения и объекты торговой недвижимости в соответствии с планом развития сети. Нас интересуют существующие помещения, объекты нового строительства и земельные участки. Мы готовы рассмотреть предложения от собственников помещений, девелоперов и управляющих компаний, специализированных агентств и частных лиц, работающих на рынке коммерческой недвижимости.
		include inc/footer.pug
		include inc/scripts.pug