<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Акции
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug 
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							.title-block__title
								h1 Акции
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									span.bread-crumbs__this Акции
				.inner-content__content
					section.contacts__cont
						.wrapper
							.contacts
								.contacts__top
									.contacts__top-map
										.c-map
											img(src="img/photos/c-map.jpg")
									.contacts__top-contacts
										.c-contacts
											.c-contacts__item
												.c-contacts__item-title.c-contacts__item-title--big Главный офис
												address.c-contacts__item-address 193232, Россия, г. Санкт-Петербург проспект Большевиков, 24
											.c-contacts__item
												.c-contacts__item-title Позвоните нам
												address.c-contacts__item-address
													a(href="tel: +7 (812) 648-50-00") +7 (812) 648-50-00
											.c-contacts__item
												.c-contacts__item-title Напишите нам
												address.c-contacts__item-address
													a(href="mailto: info@semishagoff.org") info@semishagoff.org 
								.contacts__form
									.bot-form
										.bot-form__title Задать вопрос
										.bot-form__form
											form(action="#")
												.bot-form__inputs
													.bot-form__inputs-cont
														.default-input
															input.default-input__input(type="text" required="" placeholder="Надежда")
															label.default-input__label Имя
															.forms__error-message
													.bot-form__inputs-cont
														.default-input
															input.default-input__input(type="email" required="" placeholder="info@gmail.com")
															label.default-input__label E-mail
															.forms__error-message
													.bot-form__inputs-cont
														.default-input
															input.default-input__input(type="tel" placeholder="+7 (812) ___-__-__")
															label.default-input__label Телефон
															.forms__error-message
												.bot-form__inputs
													.bot-form__inputs-cont.bot-form__inputs-cont--textarea
														.default-input
															textarea.default-input__input.default-input__input--textarea
															label.default-input__label Сообщение
															.forms__error-message
													.bot-form__inputs-cont
														.bf-submit
															.bf-submit__btn
																input.default-btn(type="submit" value="Отправить")
															.bf-submit__text
																.form-req Нажимая кнопку, Вы даете информированное согласие на 
																	a(href="#") обработку своих персональных данных
		include inc/footer.pug
		include inc/scripts.pug