<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Семишагов
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/common.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/logo.png")
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="catalog.html") Каталог
						li
							a(target="_blank" href="catalog-plates.html") Каталог - плитка
						li
							a(target="_blank" href="catalog-list.html") Каталог - список
						li
							a(target="_blank" href="tovar.html") Карточка