<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Карточка
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug 
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							.title-block__title
								h1 Огурцы длинноплодные
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									a.bread-crumbs__link(href="#") Каталог
									a.bread-crumbs__link(href="#") Фрукты и овощи
									span.bread-crumbs__this Огурцы длинноплодные
				.inner-content__content
					section.tovar__cont
						.wrapper
							.tovar
								.tovar__slider
									.tovar__slider-sale 25%
									.tovar-sliders
										.tovar-sliders__big
											.tb-slider
												.swiper-wrapper
													- for (let i = 0; i < 10; i++)
														.swiper-slide
															a.tb-slider__slide.fancybox(data-fancybox="tovar-gallery" href="img/photos/tovar-big-img.jpg")
																if (i == 0)
																	img(src="img/photos/tovar-big-img.jpg")
																else
																	img.swiper-lazy(data-src="img/photos/tovar-big-img.jpg")
																	.swiper-lazy-preloader
										<!-- не выводить этот слайдер, если картинка одна -->
										.tovar-sliders__small
											.ts-slider
												.ts-slider__arrows
													.swiper-button-prev
													.swiper-button-next
												.ts-slider__list
													.swiper-wrapper
														- for (let i = 0; i < 10; i++)
															.swiper-slide
																figure.ts-slider__slide
																	if (i == 0 || i == 1 || i == 2)
																		img(src="img/photos/tovar-small-img.jpg")
																	else
																		img.swiper-lazy(data-src="img/photos/tovar-small-img.jpg")
																		.swiper-lazy-preloader
								.tovar__desc
									.tovar-desc
										.tovar-desc__title Огурцы длинноплодные
										.tovar-desc__params
											ul.tovar-params
												li.tovar-params__item
													span.tovar-params__item-title Вес
													span.tovar-params__item-val 240 (гр.)
												li.tovar-params__item
													span.tovar-params__item-title Страна
													span.tovar-params__item-val Россия
										.tovar-desc__prices
											.tovar-price
												.tovar-price__cur
													.price 22.
														span 99 
														i.rub ₽
												.tovar-price__last
													.price 22.
														span 00 
														i.rub ₽
										.tovar-desc__btns
											a.default-btn(href="#") Акция действует в магазинах
											a.white-btn(href="#") Есть рецепт
					section.main-catalog-slider
						.wrapper
							.main-catalog-slider__title
								.main-title
									span Наши лучшие цены
							.catalog-slider
								.catalog-slider__nav
									.swiper-button-prev
									.swiper-button-next
								.catalog-slider__list
									.swiper-wrapper
										each item, i in ['Вода мин. лечебно-столовая "Сарыагаш" газ.', 'Нектар  с мяк. "Сто Рецептов" тыквенный', 'Квас "Никола Традиционный" фильт. паст. ж/б ', 'Вода мин. лечебно-столовая "Сарыагаш" газ. ', ]
											.swiper-slide
												.cat-item
													a.cat-item__img(href="#")
														img.swiper-lazy(data-src="img/photos/mc-img-"+i+".jpg")
														.swiper-lazy-preloader
													.cat-item__desc
														a.cat-item__title(href="#")=item
														.cat-item__volume 300 мл
														.cat-item__buy
															.cat-buy
																.cat-buy__price
																	.cat-buy__price-curprice
																		.price 22.
																			span 99 
																			i.rub ₽
																.cat-buy__btn
																	a.arrow-btn(href="#")
					section.stock-map__cont
						.wrapper
							.stock-map
								.stock-map__title Акция действует в магазинах
								.stock-map__text Количество товаров ограничено, не является публичной офертой. 
									br 
									| Информацию об ассортименте и наличии товаров, участвующих в акции, уточняйте в магазине
								.stock-map__map
									.s-map
										.s-map__points
											ul.points-list
												- for (let i = 0; i < 10; i++)
													each point in [{address: "проспект Большевиков, 24", metro: "Ст. м. Улица Дыбенко"}, {address: "улица Васи Алексеева, 10", metro: "Ст. м. Кировский завод"}, {address: "Бухарестская улица, 31к1", metro: "Ст. м. Международная"}, {address: "Ленская улица, 18", metro: "Ст. м. Ладожская"}, ]
														li.points-list__item
															.points-list__address
																.point-address
																	address.point-address__address=point.address
																	.point-address__metro=point.metro
															time.points-list__time
																span Пн. - вс.: 09:00 - 23:00
										.s-map__map
											img(src="img/photos/tovar-map.jpg")
					section.main-catalog-slider
						.wrapper
							.main-catalog-slider__title
								.main-title.main-title--decor
									span Предложение недели
							.catalog-slider
								.catalog-slider__nav
									.swiper-button-prev
									.swiper-button-next
								.catalog-slider__list
									.swiper-wrapper
										each item, i in ['Вода мин. лечебно-столовая "Сарыагаш" газ.', 'Нектар  с мяк. "Сто Рецептов" тыквенный', 'Квас "Никола Традиционный" фильт. паст. ж/б ', 'Вода мин. лечебно-столовая "Сарыагаш" газ. ', ]
											.swiper-slide
												.cat-item
													.cat-item__labels
														.cat-labels
															.cat-labels__label.cat-labels__label--red Акция 10.06 / 10.07
															if ( i == 1)
																.cat-labels__label.cat-labels__label--yelow Не во всех магазинах
													if ( i == 1)
														.cat-item__sale Супер цена
													else
														.cat-item__sale 25%
													a.cat-item__img(href="#")
														img.swiper-lazy(data-src="img/photos/mc-img-"+i+".jpg")
														.swiper-lazy-preloader
													.cat-item__desc
														a.cat-item__title(href="#")=item
														.cat-item__volume 300 мл
														.cat-item__buy
															.cat-buy
																.cat-buy__price
																	.cat-buy__price-curprice
																		.price 22.
																			span 99 
																			i.rub ₽
																	.cat-buy__price-lastprice
																		.price 22.
																			span 99 
																			i.rub ₽
																.cat-buy__btn
																	a.arrow-btn(href="#")
		include inc/footer.pug
		include inc/scripts.pug